[defaults]
inventory = /mydb
host_key_checking = False
ask_pass=False
private_key_file=/root/mynewawskey.pem
remote_user=ec2-user

[privilege_escalation]
become=true
become_method=sudo
become_user=root
become_ask_pass=false

~
~
